<style>

body {
	background-color: #F8F8FF;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height:600px;
	background-color: white;
	width: 800px;
}
.left{
	display:inline-block;
	float:left;
	margin-left:50px;
	margin-top:20px;
	width:300px;
}
.right{
	display:inline-block;
	float:right;
	margin-right:50px;
	width:300px;
}
.top{
	text-align:center;
	position:relative;
	top:85%;

}
#cancel{
	text-align:center;
	position:relative;
	top:80%;

}
#dispatch{
	margin:5%;
}
</style>
