<style>
body {
	background-color: #F8F8FF;
	margin-top:0px;
}
.header{
	background-color: white;
	margin-left:20px;
	margin-right:20px;
	height: 150px;
	border-bottom: 2px solid black;
	width:1200px;
}
.top{
	float:left;
	margin-top:50px;
	margin-left:100px;

}
.search{
	float:right;
	margin-right:10%;
	margin-top:40px;
}
.searchText{
	width:600px;
	height:35px;
}
.searchBtn{
	height:40px;
}
.headerColumn {
	display: inline-block;
	width: auto;
	position: relative;
	top: 10px;
	left: 600px;
}

.headerColumn p {
	display: inline-block;
	width: auto;
	margin-right: 20px;
}
.headerBtn {
	position: relative;
	display: inline-block;
	padding: 0.25em 0.5em;
	text-decoration: none;
}
.topBtn{
}
a.headerBtn {
  border-radius: 0;

}

a.headerBtn:hover {
  color:#8EF1FF;

}

.mypage {
	/*color: black;
	text-align: right;
	margin-left: 20px;*/
	display: inline-block;
	height: auto;
	background-color: white;
	text-align:center;
	width:1000px;
	margin-left:140px;
}


.right {
	display: inline-block;
	float: right;
	width: 60%;
}

.right h1{
	text-align: center;
	width:90%;
}

#list-side {
	display: inline-block;
	float: left;
	width: 30%;
	margin-right: 50px;
	margin-left: 10px;
	margin-top: 40px;
}

.list {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0 auto;
	padding: 0 0 0 0 !important;
}

.list li {
	color: #2d8fdd;
	border-left: solid 6px #f4b364;
	background: #fdf2e3;
	margin-bottom: 15px;
	line-height: 1.5;
	padding: 0.5em;
	border-bottom: solid 2px #dadada;
	list-style-type: none;
}

.userName_Point {
	margin-left: 30px;
	margin-right: auto;
	margin-top: 20px;
	border-collapse: collapse;
}

.userName_Point tr:last-child {
	border-bottom: solid 1px #ddd;
}

.userName_Point th {
	text-align: center;
	padding: 10px 0;
	border-right: solid 1px #ddd;
	border-left: solid 1px #ddd;
	width: 155px;
	font-size: 16px;
}

.userName_Point th:nth-child(1) {
	background-color: grey;
	color: white;
}

.userName_Point th:nth-child(2) {
	background-color: grey;
	color: white;
}

.userName_Point tr:nth-child(2) td {
	font-size: 25px;
	font-weight: bold;
	padding-top: 10px;
}

.userName_Point td {
	text-align: center;
	padding-top: 10px;
	border-right: solid 1px #ddd;
	border-left: solid 1px #ddd;
}

.hidden_box {
	margin: 2em 0;
	padding: 0;
}

.hidden_box label {
	padding: 15px;
	font-weight: bold;
	border: solid 2px black;
	cursor: pointer;
}

.hidden_box label:hover {
	background: #efefef;
}

.hidden_box input {
	display: none;
}

.hidden_box .hidden_show {
	height: 0;
	padding: 0;
	overflow: hidden;
	opacity: 0;
	transition: 0.8s;
}

.hidden_box input:checked ~ .hidden_show {
	padding: 10px 0;
	height: auto;
	opacity: 1;
}

label {
	display: block;
	width: 450px;
	margin-right: 20px;
}

.dealing {
	display: inline-block;
}

.innerTable {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.innerTable th, .innerTable td {
	padding: 10px 0;
	text-align: center;
}

.innerTable tr:nth-child(odd) {
	background-color: #eee
}

.textBox {
	width: 540px;
	height: 30px;
}
img{
	height: 100px;
}
.images{
	height:50px;
}
</style>