<style>
body {
	background-color: #F8F8FF;
}

h1 {
	text-align: center;
}

.center {
	text-align: center;
}

.itemImage{
	width: 100%;
	margin-bottom: 20px;
}

.itemImage img{
	margin: auto;
	width: 80%
}

.wantItem {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.mypoint_address {
	margin-left: auto;
	margin-right: auto;
}

.pay {
	margin-left: auto;
	margin-right: auto;
	height: auto;
	background-color: white;
	width: 400px;
}

.pay a {
	background-color: #4669ff;
	border-bottom: solid 2px #003aff;
	border-right: solid 2px #003aff;
	border-radius: 20px;
	font-weight: bold;
	width: 200px;
	color: #FFF;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
	margin: 20px
}
table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 10px 0;
  text-align: center;
}

table tr:nth-child(odd){
  background-color: #eee
}
.textBox{
	width:540px;
	height:30px;
}
</style>