<style>
.header{
	background-color: white;
	margin-left:20px;
	margin-right:20px;
	height: 150px;
	border-bottom: 2px solid black;
	width:1200px;
}
.top{
	float:left;
	margin-top:50px;
	margin-left:100px;
}
.search{
	float:right;
	margin-right:10%;
	margin-top:40px;
}
.searchText{
	width:600px;
	height:35px;
}
.searchBtn{
	height:40px;
}
.headerColumn {
	display: inline-block;
	width: auto;
	position: relative;
	top: 10px;
	left: 600px;
}

.headerColumn p {
	display: inline-block;
	width: auto;
	margin-right: 20px;
}
.headerBtn {
	position: relative;
	display: inline-block;
	padding: 0.25em 0.5em;
	text-decoration: none;
}
a.headerBtn {
  border-radius: 0;

}

a.headerBtn:hover {
  color:#8EF1FF;

}

body {
	background-color: #F8F8FF;
}

h1 {
	text-align: center;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	background-color: white;
	width: 500px;
}

.button {
	background-color: #4669ff;
	border-bottom: solid 2px #003aff;
	border-right: solid 2px #003aff;
	border-radius: 20px;
	font-weight: bold;
	width: 200px;
	color: #FFF;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
	margin: 20px
}

.textsize {
	width: 300px;
}
.topBtn{
	text-decoration: none;
}
textarea {
 	resize: none;
}
.images{
	height:50px;
}
</style>