<style>

body {
	background-color: #F8F8FF;

}

h1 {
	text-align: center;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	width: 1000px;
	height:2000px;
}
.button{
			background-color: #4669ff;
    		border-bottom: solid 2px #003aff;
   			border-right: solid 2px #003aff;
   		 	border-radius: 20px;
    		font-weight: bold;
    		width:250px;
   		 	color: #FFF;
    		text-decoration: none;
    		padding: 10px;
    		display: inline-block;
    		margin-bottom:20px;


		}
.left{
	display:inline-block;
	float:left;
	margin-left:70px;
	margin-top:20px;
	width:300px;
	position:relative;
	top:72px;
	height:100px;
}
.right{
	display:inline-block;
	float:right;
	margin-right:50px;
	width:550px;
	position:relative;
	top:2px;

}
p#left{
	float:left;
	width:300px;
}
.top{
	display:inline-block;
	margin-top:0px;
	text-align:center;
	position:relative;
	top:90px;
	right:635px;
	width:300px;

}
.leftBtn{
	display:inline-block;
	position:relative;
	top:400px;
	right:10px;
}
.leftBtn p{
	display:inline-block;
	position:relative;

}
#cancel{
	display:inline-block;
	margin-bottom:0px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	top:150px;
	right:330px;
	width:300px;




}
#dispatch{
	margin:5%;

}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 10px 0;
  text-align: center;
}

table tr:nth-child(odd){
  background-color: #eee
}
.textBox{
	width:540px;
	height:30px;
}
.topBtn{
	text-decoration: none;
}
.balloon1-right {

  position: relative;

  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 7px 10px;
  min-width: 250px;
    overflow-wrap: break-word;
   max-width: 250px;
  color: #555;
  font-size: 16px;
  background: #FFFF99	;
   border-radius: 10px;
   overflow-wrap: break-word;
   max-width: 250px;
   margin-left:300px;

}

.balloon1-right:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 99%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #FFFF99;
}

.balloon1-right p {
  margin: 0;
  padding: 0;
}
p#right{
	text-align:end;
}

.images{
	height:50px;
}

.balloon1-left {
	 border-radius: 15px;
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
   min-width: 250px;
    overflow-wrap: break-word;
   max-width: 250px;
  color: #555;
  font-size: 16px;
  background: #e0edff;



}

.balloon1-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -23px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.balloon1-left p {
  margin: 0;
  padding: 0;
}
</style>
