<style>
body {
	background-color: #F8F8FF;
	width:100%;
}
.header {
	display:inline-block;
	background-color: white;
	height: 142px;
	width: 100%;
	border-bottom: 2px solid black;

}

.search{
	display:inline-block;
	float:right;
	width:100%;

}
.top{
	float:left;
	position:relative;
	left:20%;
}
.searchText{
	width:300%;
	height:40px;
	position:relative;
	right:-170%;
}
.searchBtn{
	height:40px;
	position:relative;
	top:-40px;
	left:450%;
}

.headerColumn {
	display: inline-block;
	width: auto;
	position: relative;
	top: -60px;
	right: -900px;
}

.headerColumn p {
	display: inline-block;
	width: auto;
	margin-right: 20px;
}
.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	background-color: white;
	width: 500px;
}
.start {
	margin-left: auto;
	margin-right: auto;
	height: auto;
	background-color: white;
	width: auto;
}

.listingButton {
	z-index: 2;
	display: inline-block;
	text-decoration: none;
	background: #FF3333;
	color: #FFF;
	font-size: 20px;
	font-weight: bold; width : 150px;
	height: 150px;
	line-height: 150px;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
	transition: .4s;
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 150px;
}

.listingButton:hover {
	background: #668ad8;
}

.headerBtn {
	position: relative;
	display: inline-block;
	padding: 0.25em 0.5em;
	text-decoration: none;
}



a.headerBtn {
  border-radius: 0;

}

a.headerBtn:hover {
  color:#8EF1FF;

}
.itemsearch{
  float: right;
}
.topBtn{
float: left;
position:relative;
top:40px;
left:-100px;

}

/* 商品一覧css */
.itemlist{
	width: 90%;
	margin: auto;
}

#column{
	width: 100%;

}

#column ul {
	width: calc(100 + 20px);
	margin: 0 -10px;
	display: flex;
	flex-wrap: wrap;
}

#column li {
	list-style: none;
	padding: 0 10px 20px;
}

#column li a,
#column li a:visited {
	text-decoration: none;
	color: #111;
}

#column li p {
	font-size: 90%;
	margin-bottom: 3px;
}

#column li span {
	background-color: #000;
	color: #FFF;
	font-size: 10px;
	position: relative;
	width: 50%;
	/*top: -20%;*/
	font-size: 80%;
	display: block;
}

.column02 li {
	width: calc(50% - 20px);
}

.column03 li {
	width: calc(33.3333% - 20px);
}

.column04 li {
	width: calc(25% - 20px);
}

.column05 li {
	width: calc(20% - 20px);
}

#column img{
	height: 200px;
}
.topBtn{
	text-decoration: none;
}
.itemimage{
	position: relative;
}
.out{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}
.images{
	height:50px;
}

</style>