<style>
*{
	font-style:normal;
	margin: 0px;
	padding: 0px;
}
.inner{
	top: 0;
	left: 0;
	clear: both;
	max-width: auto;
	margin: 0 auto;
}
html{
background-color: #F8F8FF;
height:100%;
}
body{

	height:100%;
	width : 100%;
	margin-left: auto;
    margin-right: auto;

	background-color: #F8F8FF;
}
.itemlist{
	background-color: #ffffff;
	margin-left: auto;
    margin-right: auto;
     width : 600px ;
}
.left{
	float: left;
	min-height:374.67;
}
.item{
    float: right;
    min-width: 300px;
    max-width: 300px;
    min-height: 375px;

}
.item td{
	text-align:center;
}
.item th{

	background-color: #DDDDDD;
}
.itemlist h1{

	text-align: center;
}

.openChatTable{
	background-color: #ffffff;
	margin-left: auto;
    margin-right: auto;
      width : 600px ;

}
.chat{
		background-color: #ffffff;
	margin-left: auto;
    margin-right: auto;

}
.inputchat {
    width: 250px;
    text-align: center;
}
.inputchat{ margin-left: 120px; }

.button {
	background-color: #4669ff;
	border-bottom: solid 2px #003aff;
	border-right: solid 2px #003aff;
	border-radius: 20px;
	font-weight: bold;
	width: 200px;
	color: #FFF;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
	margin: 20px;
	 text-align: center;
	 margin-left: 120px;
}

.itemExplanation{
	width:100%;
	margin: 10px;
	font-size:20px;
}

/* ヘッダー（共通） */
.header{
	background-color: white;
	margin-left:20px;
	margin-right:20px;
	height: 150px;
	border-bottom: 2px solid black;
	width:1200px;
}
.top{
	float:left;
	margin-top:50px;
	margin-left:100px;
}
.search{
	float:right;
	margin-right:10%;
	margin-top:40px;
}
.searchText{
	width:600px;
	height:40px;
}
.searchBtn{
	height:40px;
	width:60px;
}
.headerColumn {
	display: inline-block;
	width: auto;
	position: relative;
	top: -30px;
	left: 650px;

}

.headerColumn p {
	display: inline-block;
	width: auto;
	margin-right: 20px;
}
a.headerBtn {
  border-radius: 0;
  text-decoration: none;
   position:relative;
  top:50px;
  right:80px;
}

a.headerBtn:hover {
  color:#8EF1FF;
}
a.headerButton {
  border-radius: 0;
  position:relative;
  top:60px;
  right:50px;
  text-decoration: none;
}

a.headerButton:hover {
  color:#8EF1FF;

}
.itemsearch{
  float: right;
}
.topBtn{
float: left;
position:relative;
top:10px;
left:-20px;
text-decoration: none;

}


.balloon1-left {
	 border-radius: 15px;
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
   min-width: 250px;
    overflow-wrap: break-word;
   max-width: 250px;
  color: #555;
  font-size: 16px;
  background: #e0edff;



}

.balloon1-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -23px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.balloon1-left p {
  margin: 0;
  padding: 0;
}
textarea {
 	resize: none;
 	margin-left:70px;
	}
.chat{

}
.itemimage{
float: left;
    min-width: 300px;
    max-width: 300px;
    min-height: 375px;
}


.balloon1-right {

  position: relative;

  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 7px 10px;
  min-width: 250px;
    overflow-wrap: break-word;
   max-width: 250px;
  color: #555;
  font-size: 16px;
  background: #FFFF99	;
   border-radius: 10px;
   overflow-wrap: break-word;
   max-width: 250px;
   margin-left:300px;

}

.balloon1-right:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 99%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #FFFF99;
}

.balloon1-right p {
  margin: 0;
  padding: 0;
}
p#right{
	text-align:end;
}

.images{
	height:50px;
}
.left img{
	height: 374.67px;
	width:300px;
	object-fit: contain;
}
a{
	text-decoration: none;
}
</style>