<style>
body {
		background-color: #F8F8FF;
	}
	h1{
		text-align:center;
	}
	.header{
	background-color: white;
	margin-left:20px;
	margin-right:20px;
	height: 150px;
	border-bottom: 2px solid black;
	width:1200px;
}
.top{
	float:left;
	margin-top:50px;
	margin-left:100px;
}
.search{
	float:right;
	margin-right:10%;
	margin-top:40px;
}
.searchText{
	width:600px;
	height:40px;
}
.searchBtn{
	height:40px;
	width:60px;
}
.headerColumn {
	display: inline-block;
	width: auto;
	position: relative;
	top: 20px;
	left: 770px;

}

.headerColumn p {
	display: inline-block;
	width: auto;
	margin-right: 20px;
}
a.headerBtn {
  border-radius: 0;
  text-decoration: none;
}

a.headerBtn:hover {
  color:#8EF1FF;
}
a.headerButton {
  border-radius: 0;
  position:relative;
  top:70px;
  right:50px;
  text-decoration: none;
}

a.headerButton:hover {
  color:#8EF1FF;

}
	.center{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		height: auto;
		background-color: white;
		width: 700px;
	}
	.button{
		background-color: #4669ff;
   		border-bottom: solid 2px #003aff;
  		border-right: solid 2px #003aff;
  	 	border-radius: 20px;
   		font-weight: bold;
   		width:200px;
  	 	color: #FFF;
   		text-decoration: none;
   		padding: 10px;
   		display: inline-block;
   		margin:90px;
	}
	.topOuter{
		text-align: center;
	}
	.topButton{
		text-align: center;
		background-color: #4669ff;
   		border-bottom: solid 2px #003aff;
  		border-right: solid 2px #003aff;
  		border-radius: 20px;
   		font-weight: bold;
   		width:200px;
   	 	color: #FFF;
    	text-decoration: none;
    	padding: 10px;
    	display: inline-block;
	}

	.left{
		display:inline-block;
		float:left;
		margin-left:20px;
	}
	.right{
		display:inline-block;
		float:right;
		margin-right:30px;
	}
	.textsize{
		width:300px;
	}
	textarea {
 	resize: none;
	}
	.topBtn{
	text-decoration: none;}
</style>